@{
    //Layout
}
<ul class="navbar-nav">
    <li class="nav-items" >
        <a class="link text-dark" asp-area="Identity" asp-page="/Account/Register">dang ky</a>
         <a  class="link text-dark" asp-area="Identity" asp-page="/Account/Login">dang nhap</a>
    </li>
</ul>